@model StudentNotes.Models.Note

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>



@using (Html.BeginForm("Save", "Note"))
{
    <div class="form-group">
        @Html.LabelFor(n => n.Name)
        @Html.TextAreaFor(n => n.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.ProgressRating)
        @Html.TextAreaFor(n => n.ProgressRating)
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.ExtraNote)
        @Html.TextAreaFor(n => n.ExtraNote)
    </div>
    @Html.HiddenFor(n => Model.Id)
    @Html.HiddenFor(s => Model.StudentId)
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Delete", "Delete", "Note", new { id = Model.Id }, null)



}